.header-section {
  padding: 3.2rem;
}

.header-section__head {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.header-section__navigation {
  display: flex;
  align-items: center;
  gap: 2.4rem;
}

.header-section__nav-list {
  display: flex;
  list-style-type: none;
  gap: 2.4rem;
}

.nav-link__anchor {
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "DM Sans", sans-serif;
  color: #4f9cf9;
}

.cta-buttons-container {
  display: flex;
  gap: 1rem;
}

.cta-buttons:link,
.cta-buttons:visited {
  display: inline-block;
  padding: 1.6rem 4rem;
  text-decoration: none;
  font-family: "DM Sans", sans-serif;
  font-size: 1.6rem;
}

.login {
  background-color: #ffe492;
  border-radius: 0.8rem;
  color: #043873;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.try-for-free {
  background-color: #4f9cf9;
  padding: 16px 24px;
  border-radius: 0.8rem;
  color: #ffff;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
  padding: 12.8rem;
  background-image: url('../img/hero-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 2.4rem;
}
.hero-title {
  font-family: "Inter", sans-serif;
  font-size: 6.4rem;
  font-weight: 700;
  color: #4f9cf9;
}
.hero-paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.3;
  color: #4f9cf9;
}

.btn-try:link,
.btn-try:visited {
  display: inline-block;
  text-decoration: none;
  padding: 2rem;
  background-color: #4f9cf9;
  border-radius: 0.8rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}
.hero-img {
  width: 82.4rem;
  max-width: 100%;
}

.middle--grid__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  padding: 12.8rem;
  gap: 7.2rem;
  margin-bottom: 9.8rem;
}
.middle--grid__text-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  align-items: flex-start;
}
.text-container__title {
  font-family: "Inter", sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  color: #212529;
  background-image: url('../img/Element.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.text-container__paragraph {
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.5;
}

.img-container-image {
  width: 748px;
  max-width: 100%;
}

.btn-get-started:link,
.btn-get-started:visited {
  display: inline-block;
  text-decoration: none;
  padding: 2rem;
  background-color: #4f9cf9;
  border-radius: 0.8rem;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
}

.text-container__title--2 {
  font-family: "Inter", sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  color: #212529;
  background-image: url('../img/Element.png');
  background-repeat: no-repeat;
  background-position:bottom;
}

.text-container__title--3 {
  font-family: "Inter", sans-serif;
  font-size: 7.2rem;
  font-weight: 700;
  color: #212529;
  background-image: url('../img/Element.png');
  background-repeat: no-repeat;
  background-position: bottom;
}

.choose-your-plan__head{
    text-align: center;
    padding: 3.2rem;
}
.plans__title{
    font-family: "Inter", sans-serif;
    font-size: 7.2rem;
    font-weight: 700;
    color: #212529;
    margin-bottom: 2.4rem;
}
.plans__paragraph{
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 400;
    color: #212529;
    line-height: 1.5;
}


/* Cards */
.card--section{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
    align-items: center;
    gap: 2.4rem;
    padding: 3.2rem;
    margin-bottom: 9.8rem;
}

.card__card--body{
    border: 1px solid #FFE492;
    padding: 3.2rem;
    border-radius: 1rem;
}

.card__head{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
}

.card__title{
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
}

.card__price{
    font-family: "Inter", sans-serif;
    font-size: 3.6rem;
    font-weight: 700; 
}

.card__sub--title{
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
}
.card__ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3.2rem;
}
.card__list-item{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
}

.card-btn:link,.card-btn:visited{
    display: inline-block;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #212529;
    border: 1px solid #FFE492;
    padding: 1.6rem 4rem;
    border-radius: .8rem;
}








.personal__card--body{
    padding: 3.2rem;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.08);
    border-radius: 1rem;
    height: 65rem;
}

.personal__card--head{
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    margin-bottom: 3.2rem;
}

.personal__card--title{
    font-family: "Inter", sans-serif;
    font-size: 2.4rem;
    font-weight: 600;
    color: #043873;
}

.personal__card--price{
    font-family: "Inter", sans-serif;
    font-size: 3.6rem;
    font-weight: 700;
    color: #043873;
}

.personal__card--sub--title{
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    font-weight: 500;
    color: #043873;
}

.personal__card--card__list{
    margin-bottom: 7.2rem;
}
.personal__card--ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-bottom: 3.2rem;
}
.personal__card--list-item{
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    color: #043873;
}

.personal__card--list-icon{
    color: #043873;
}

.personal__card--btn:link,.personal__card--btn:visited{
    display: inline-block;
    text-decoration: none;
    font-family: "Inter", sans-serif;
    font-size: 1.6rem;
    font-weight: 500;
    color: #212529;
    background-color: #4F9CF9;
    padding: 1.6rem 4rem;
    color: #fff;
    border-radius: .8rem;
}


.try-taskey{
    background-color: #043873;
    background-image: url('../img/BACKGROUND.png');
    background-repeat: no-repeat;
    background-position: left;
    text-align: center;
    padding: 12.8rem;
    margin-bottom: 9.8rem;
}


.taskey__title{
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 7.2rem;
    color: #fff;
    margin-bottom: 3.2rem;
}

.taskey__paragraph{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.6;
    color: #fff;
    margin-bottom: 3.2rem;
}

.taskey-btn:link,.taskey-btn:visited{
    display: inline-block;
    font-family: "Inter", sans-serif;
    font-size: 1.8rem;
    text-decoration: none;
    color: #fff;
    background-color: #4F9CF9;
    padding: 2rem 4rem;
    border-radius: .8rem;
}

.grid-data{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;
  align-items: center;
  padding: 3.2rem;
  margin-bottom: 9.8rem;
}

.data--title{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  color: #212529;
  margin-bottom: 2.4rem;
}

.data--paragraph{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.data--btn:link,.data--btn:visited{
  background-color: #4F9CF9;
  border-radius: .8rem;
  padding: 2rem 4rem;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
}


.sponsor-section{
  margin-bottom: 9.8rem;
}

.sponsor-title{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  color: #212529;
  text-align: center;
  margin-bottom: 6.2rem;
}

.sponsors-logo{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  justify-items: center;
  align-items: center;
}




.apps-section{
  background-color: #043873;
  background-image: url('../img/waves.png');
  background-repeat: none;
  background-size: cover;
  padding: 4.8rem;
  margin-bottom: 9.8rem;
}
.grid-apps{
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
}

.apps--title{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  color: #fff;
  margin-bottom: 3.2rem;
}

.apps--paragraph{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.8rem;
  color: #fff;
  margin-bottom: 3.2rem;
  line-height: 1.6;
}

.apps--btn:link,.apps--btn:visited{
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  background-color: #4F9CF9;
  padding: 2rem 4rem;
  border-radius: .8rem;
}




.user-feedback{
  padding: 4.8rem;
  margin-bottom: 9.8rem;
}
.user--feedback__grid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  justify-items: center;
  align-items: center;
  column-gap: 2rem;
}

.feedback--card__body{
  padding: 6rem 4rem;
  background: #FFFFFF;
  box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.08);
  border-radius: 10px;
}

.user--title{
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 7.2rem;
  text-align: center;
  color: #212529;
  margin-bottom: 6.2rem;
}


.card--qoutes{
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  margin-bottom: 2.4rem;
}

.author--and--stars{
  display: flex;
  justify-content: space-between;
}

.card--name{
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #01252A;
  margin-bottom: 1.6rem;
}

.card--position{
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #01252A;
}

.card--active{
  box-shadow: none;
  background-color: #4F9CF9;
}

.card--text--active{
  color: #fff;
}


.slide--btns{
  display: flex;
  margin-top: 4.8rem;
  justify-content: center;
  align-items: center;
  gap: 6.2rem;
}

.slide--btn{
  background-color:#E6F1FE;
  border: none;
  border-radius: 3.5rem;
  padding: 1.5rem;
  text-align: center;
}
.btn-slide{
  width: 3.5rem;
  height: 3.5rem;
  color: #4F9CF9;
}





.footer-section{
  background-color: #043873;
  padding: 4.8rem;
}

.footer-grid{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  align-items: center;
  margin-bottom: 6.2rem;
}
.footer--logo{
  margin-bottom: 1.5rem;
}
.footer--paragraph{
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
}

.footer--titles{
  font-size: 1.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 2.4rem;
}

.footer--ul{
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.footer--anchor{
  text-decoration: none;
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
}



.cta--title{
  font-size: 2.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  margin-bottom: 1.4rem;
}

.footer--cta__paragraph{
  font-size: 1.6rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  color: #fff;
  margin-bottom: 2.4rem;
}

.cta--btn:link,.cta--btn:visited{
  display: inline-block;
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
  background-color: #4F9CF9;
  padding: 2rem 4rem;
  border-radius: .8rem;
}

.footer--line{
  height: 1px;
  background-color: #2E4E73;
  border: none;
  margin-bottom: 6.2rem;
}

.footer--additional__info{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.infos{
  display: grid;
  grid-template-columns: repeat(5,1fr);
  justify-items: center;
  align-items: center;
}

.socials{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.additionals{
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  color: #fff;
}

/* Burger Menu */

.burger-menu--btn{
  display: none;
  background: none;
  border: none;
}
.burger--menu__icon{
  font-size: 4.8rem;
}

.btn--close{
  display: none;
}